extends layout

block content
  h1 Japanese Learning

  .menu-center
    form(action="/test", method="get")
      button.menu-tile(type="submit") Testing
    form(action="/flashcards", method="get")
      button.menu-tile(type="submit") Flashcards
