extends layout

block content
  h2 Select Test Options
  form(action="/test/start", method="POST")
    label(for="type") Type:
    select(name="type" id="type" onchange="toggleLessons()")
      option(value="hiragana") Hiragana
      option(value="katakana") Katakana
      option(value="kanji") Kanji
      option(value="vocab") Vocabulary
    br

    .kana-selectors(id="kana-selectors")
      fieldset
        legend Character Rows
        label
          input(type="checkbox", name="row_vowel", checked)
          | Vowels 
        label
          input(type="checkbox", name="row_k", checked)
          | K's 
        label
          input(type="checkbox", name="row_s", checked)
          | S's 
        label
          input(type="checkbox", name="row_t", checked)
          | T's 
        label
          input(type="checkbox", name="row_n", checked)
          | N's 
        label
          input(type="checkbox", name="row_h", checked)
          | H's 
        label
          input(type="checkbox", name="row_m", checked)
          | M's 
        label
          input(type="checkbox", name="row_y", checked)
          | Y's 
        label
          input(type="checkbox", name="row_r", checked)
          | R's 
        label
          input(type="checkbox", name="row_w", checked)
          | W's 
      br
      label
        input(type="checkbox", name="dakuten", checked)
        |  Include Dakuten
      br
      label
        input(type="checkbox", name="combo", checked)
        |  Include Combo Characters
    br

    .lessons-block(style="display:none" id="lessons-block")
      label(for="lessons") Lessons:
      select(name="lessons" id="lessons" multiple style="min-width:80px")
        option(value="1" selected) 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
        option(value="6") 6
        option(value="7") 7
        option(value="8") 8
        option(value="9") 9
        option(value="10") 10
        option(value="11") 11
        option(value="12") 12
    .categories-block(style="display:none" id="categories-block")
      label(for="categories") Categories:
      select(name="categories" id="categories" multiple style="min-width:120px")
        option(value="verb" selected) Verbs
        option(value="place") Places
        option(value="object") Objects
        option(value="animal") Animals
        option(value="i-adjective") i-Adjectives
        option(value="na-adjective") na-Adjectives
    .lesson-note(id="lesson-note")
    br

    label
      input(type="checkbox", name="random")
      |  Random Order
    br
    button(type="submit") Start Test

  script.
    function toggleLessons() {
      var type = document.getElementById('type').value;
      var block = document.getElementById('lessons-block');
      var cat = document.getElementById('categories-block');
      var note = document.getElementById('lesson-note');
      var kana = document.getElementById('kana-selectors');
      if (type === "kanji") {
        block.style.display = "block";
        cat.style.display = "none";
        kana.style.display = "none";
        note.innerHTML = "Select one or more lesson numbers to practice.";
      } else if (type === "vocab") {
        block.style.display = "none";
        cat.style.display = "block";
        kana.style.display = "none";
        note.innerHTML = "Select one or more categories to practice.";
      } else {
        block.style.display = "none";
        cat.style.display = "none";
        kana.style.display = "block";
        note.innerHTML = "";
      }
    }
    window.onload = function() { toggleLessons(); }
